  <h2 class="text-center mt-4"><%= @article.title %></h2>
  <div class="container">
    <div class="row justify-content-md-center mt-4">
      <div class="col-8">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header">
            <small>Created <%= time_ago_in_words(@article.created_at) %> ago, updated <%= time_ago_in_words(@article.updated_at) %> ago</small>
          </div>
          <div class="card-body">
            <div class="card-text text-start"><%= simple_format(@article.description) %></div>
          </div>
          <div class="card-footer text-muted">
            <%= link_to "Edit", edit_article_path(@article.id), class: "btn btn-outline-primary" %>
            <%= link_to "Delete", article_path(@article.id), method: :delete, data: {confirm: "Delete: Are you sure?"}, class: "btn btn-outline-warning" %>
          </div>
        </div>
      </div>
    </div>
    <div class = "row justify-content-center mt-10">
      <%= link_to '[ Close ]', articles_path, class: "btn" %>
    </div>
  </div>
